.header {
    background-color: #1F2937;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    font-size: 18px;
    margin-right: 192px;
    gap: 16px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 192px;
    font-weight: bolder;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: #E5E7EB;
}




.block-1 {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 96px 192px;
    height: 192px;
    gap: 64px;
}

.block-1-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.block-1-sub-text {
    font-size: 18px;
    color: #E5E7EB;
}

.block-1-sub-1 {
    display: flex;
    flex-direction: column;
    flex-basis: 192px;
    flex-grow: 1;
}

.block-1-sub-2 {
    color:#E5E7EB;
    background-color: grey;
    flex-basis: 192px;
    flex-grow: 1;
}

button {
    width: 96px;
    height: 32px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 8px;
    border: none;
    margin-top: 8px;
}

.placeholder-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 192px;
}