.content {
    font-family: sans-serif;
}

.header {
    background-color: #1F2937;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    font-size: 18px;
    margin-right: 192px;
    gap: 16px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 192px;
    font-weight: bolder;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: #E5E7EB;
}




.block-1 {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 96px 192px;
    height: 256px;
    gap: 64px;
}

.block-1-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.block-1-sub-text {
    font-size: 18px;
    color: #E5E7EB;
}

.block-1-sub-1 {
    flex-direction: column;
    width: 384px;
}

.block-1-sub-2 {
    color:#E5E7EB;
    background-color: grey;
    flex-basis: 192px;
    flex-grow: 1;
}

button {
    width: 96px;
    height: 32px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 8px;
    border: none;
    margin-top: 8px;
}

.placeholder-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 192px;
}





.block-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 512px;
    margin: 0px 192px;
}

.block-2-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 32px;
    margin-bottom: 32px;
}

.block-2-blobs {
    display: flex;
    gap: 64px;
}

.frame {
    width: 160px;
    height: 160px;
    outline: 4px solid #3882f6;
    border-radius: 8px;
    margin-bottom: 16px;
}

.blob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;
}

.blob-text {
    text-align: center;
}





.block-3 {
    background-color: #E5E7EB;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block-3-main-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin: 0px 192px;
}

.block-3-signature {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-self: flex-end;
    margin: 0px 192px;
}




.block-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 256px;
}